{%extends "base.html"%}
{% import 'macros.html' as macro%}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 posterPath">
                <img src="{{movie.poster}}" alt="{{movie.title}}" class="img-responsive">
            </div>   
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 movie-details">
                <div class="thumbnail" style="border: none">
                    <h1>{{ movie.title }}</h1>   
                    <p class="overview"> {{ movie.synopsis }}</p>
                </div>
                <h3>Reviews</h3>
                <hr>
                {% if reviews %}
                    {{macro.displayReviews(reviews)}}
                    <a class="btn btn-success text-center" href="/movie/review/new/{{movie.id}}"> Escrever nova crítica</a>      
                {% else%}
                    <h3 class="text-center">Este filme não tem críticas </h3>
                    <a class="btn btn-success text-center" href="/movie/review/new/{{movie.id}}"> Escrever nova crítica</a>
                {% endif %}
            </div>
        </div> 
    </div>
{%endblock%}
